$yellow: #94943f;
$verder: green;
$azul: blue;
$rojo: red;


@mixin margenes($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}

footer {
	
	padding: 10px 10px 0 10px;
	background-color: $yellow;
	@include margenes(10px, 0px);
}

.card-hotel{
	flex: 1 200px;
	padding: 2px 0px 0px 0px;
	@include margenes(10px, 0px);
}

.btn-reserve{
	width: 100%;
	border-radius: 0px;
}

.footer-icon{
	padding: 10px;
}

.tab-pane{
	padding: 10px;
}