@yellow: #fffa19;
@verder: green;
@azul: blue;
@rojo: red;

.margenes(@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: black;
    .margenes(50px, 0px) 
}
  
  footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    .margenes(10px, 0px) 
}
  
  .card-hotel {
    flex: 1 200px;
    padding: 2px 0px 0px 0px;
    .margenes(10px, 5px)
}
  
  .btn-reserve {
    width: 100%;
    border-radius: 0px; }
  
  .footer-icon {
    padding: 10px; }
  
  .tab-pane {
    padding: 10px; }
  